body {
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;

   /* background-color: red;*/
   /* background-color: red;*/
}

.main-content{
    flex-grow: 1;/* Take all the space available on screen*/
    /*background-color: saddlebrown;*/
}
footer{
    color: red;/* #888888;*/
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
    /*background-color: hotpink;*/
}
header{
    margin-top: 16px;
    margin-bottom: 48px;
    /*background-color: hotpink;*/
}
h1{
    font-size: 64px;
    margin-bottom: 16px;
}
header a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;/*to remove underline from links*/
}
.portrait{
    width: 250px;

}
input{
    border: 1px solid #cccccc;
    padding: 8px;
}
button{
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px;
}
